In [1]:
from setup import setup_notebook
setup_notebook()

from spectraldb.utils.io import load_element
from spectraldb.utils.preprocess import preprocess
from spectraldb.utils.types import Wavelength

Ex:
> Zn = load_element("Zn")

> Pb = load_element("Lead")

> He = preprocess("He")

> Y_trim = preprocess("Yttrium", trimmed=True)

In [2]:
sdf = preprocess("Argon", trimmed=True)
sdf

,element,spectrum_number,wavelength_nm,intensity,log10_intensity,tags,visible
5,Ar,17,0.313700,0.0,-inf,None,False
8,Ar,17,0.319800,13.0,1.113943,None,False
9,Ar,17,0.336200,19.0,1.278754,None,False
40,Ar,18,0.373111,13.0,1.113943,None,False
42,Ar,18,0.373652,7.0,0.845098,None,False
...,...,...,...,...,...,...,...
5428,Ar,2,5057.050000,9.0,0.954243,None,False
5429,Ar,2,5107.727000,10.0,1.000000,None,False
5430,Ar,2,5130.679500,29.0,1.462398,None,False
5431,Ar,2,5282.677400,43.0,1.633468,None,False
5432,Ar,2,5332.841000,5.0,0.698970,None,False

# TODO: Database
1) Create SQL Table to hold cleaned elements
2) Insert all cleaned elements into SQL table
3) Search functionalities for Table