In [2]:
from setup import setup_notebook
setup_notebook()
from spectraldb.utils.io import load_element
from spectraldb.utils.preprocess import preprocess

In [3]:
load_element("Ag")

,element,sp_num,obs_wl_vac(nm),unc_obs_wl,ritz_wl_vac(nm),unc_ritz_wl,obs-ritz,wn(cm-1),intens,Aki(10^8 s^-1),...,term_i,J_i,conf_k,term_k,J_k,g_i,g_k,Type,tp_ref,line_ref
0,Ag,47,"=""""","=""""","=""0.04493288""","=""0.00000006""","=""""","=""222554200""","=""""","=""8.0381e+06""",...,"=""2S""","=""1/2""","=""3p""","=""2P*""","=""3/2""",2,4,NaN,"=""T7771""","="""""
1,Ag,47,"=""""","=""""","=""0.04504874""","=""0.00000006""","=""""","=""221981800""","=""""","=""7.9743e+06""",...,"=""2S""","=""1/2""","=""3p""","=""2P*""","=""1/2""",2,2,NaN,"=""T7771""","="""""
2,Ag,47,"=""""","=""""","=""0.05299285""","=""0.00000003""","=""""","=""188704710""","=""""","=""2.9628e+07""",...,"=""2S""","=""1/2""","=""2p""","=""2P*""","=""3/2""",2,4,NaN,"=""T7771""","="""""
3,Ag,47,"=""""","=""""","=""0.05353979""","=""0.00000003""","=""""","=""186776960""","=""""","=""3.0915e+07""",...,"=""2S""","=""1/2""","=""2p""","=""2P*""","=""1/2""",2,2,NaN,"=""T7771""","="""""
4,Ag,45,"=""""","=""""","=""0.0539078""","=""0.0000003""","=""""","=""185502000""","=""""","=""""",...,"=""2P*""","=""1/2""","=""1s.2p+2""","=""(1/2,0)""","=""1/2""",2,2,NaN,"=""""","="""""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,element,sp_num,obs_wl_vac(nm),unc_obs_wl,ritz_wl_vac(nm),unc_ritz_wl,obs-ritz,wn(cm-1),intens,Aki(10^8 s^-1),...,term_i,J_i,conf_k,term_k,J_k,g_i,g_k,Type,tp_ref,line_ref
735,Ag,1,"=""3990.0""","=""""","=""3989.092""","=""0.006""","=""0.9""","=""2506.3""","=""5*""","=""""",...,"=""2F*""","=""5/2""","=""4d10.5g""","=""2G""","=""7/2,9/2""",6,18,NaN,"=""""","=""L15228"""
736,Ag,1,"=""3990.0""","=""""","=""3989.118""","=""0.006""","=""0.9""","=""2506.3""","=""5*""","=""""",...,"=""2F*""","=""7/2""","=""4d10.5g""","=""2G""","=""7/2,9/2""",8,18,NaN,"=""""","=""L15228"""
737,Ag,1,"=""3996.2""","=""""","=""3998.820""","=""0.005""","=""-2.6""","=""2502.4""","=""8*""","=""""",...,"=""2F*""","=""5/2""","=""4d10.7d""","=""2D""","=""5/2""",6,6,NaN,"=""""","=""L15228"""
738,Ag,1,"=""3996.2""","=""""","=""3998.845""","=""0.006""","=""-2.6""","=""2502.4""","=""8*""","=""""",...,"=""2F*""","=""7/2""","=""4d10.7d""","=""2D""","=""5/2""",8,6,NaN,"=""""","=""L15228"""

In [8]:
load_element("Gold")

,element,sp_num,obs_wl_vac(nm),unc_obs_wl,ritz_wl_vac(nm),unc_ritz_wl,obs-ritz,wn(cm-1),intens,Aki(10^8 s^-1),...,term_i,J_i,conf_k,term_k,J_k,g_i,g_k,Type,tp_ref,line_ref
0,Au,79,"=""""","=""""","=""0.01484003""","=""0.00000012""","=""""","=""673853000""","=""""","=""6.2120e+07""",...,"=""2S""","=""1/2""","=""3p""","=""2P*""","=""3/2""",2,4,NaN,"=""T7771""","="""""
1,Au,79,"=""""","=""""","=""0.01495949""","=""0.00000020""","=""""","=""668472000""","=""""","=""5.9826e+07""",...,"=""2S""","=""1/2""","=""3p""","=""2P*""","=""1/2""",2,2,NaN,"=""T7771""","="""""
2,Au,77,"=""""","=""""","=""0.01714394""","=""0.00000011""","=""""","=""583296000""","=""""","=""""",...,"=""2P*""","=""1/2""","=""1s.2p+2""","=""(1/2,0)""","=""1/2""",2,2,NaN,"=""""","="""""
3,Au,77,"=""""","=""""","=""0.01715156""","=""0.00000011""","=""""","=""583037000""","=""""","=""""",...,"=""2P*""","=""1/2""","=""1s.2p+2.(2)""","=""(1/2,2)""","=""3/2""",2,4,NaN,"=""""","="""""
4,Au,79,"=""""","=""""","=""0.01732338""","=""0.00000007""","=""""","=""577254400""","=""""","=""2.2101e+08""",...,"=""2S""","=""1/2""","=""2p""","=""2P*""","=""3/2""",2,4,NaN,"=""T7771""","="""""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Au,1,"=""656.268""","=""""","=""""","=""""","=""""","=""15233.47""","=""100""","=""""",...,"=""""","=""""","=""""","=""""","=""""",1,1,NaN,"=""""","=""L1336"""
488,Au,1,"=""665.289""","=""""","=""""","=""""","=""""","=""15026.91""","=""30""","=""""",...,"=""""","=""""","=""""","=""""","=""""",1,1,NaN,"=""""","=""L1336"""
489,Au,1,"=""751.073""","=""""","=""751.0729+""","=""""","=""0.000""","=""13310.62""","=""600""","=""4.24e-01""",...,"=""2P*""","=""3/2""","=""5d10.7s""","=""2S""","=""1/2""",4,2,NaN,"=""T7183,T7776""","=""L1336"""
490,Au,1,"=""814.506""","=""""","=""""","=""""","=""""","=""12274.01""","=""10""","=""""",...,"=""""","=""""","=""""","=""""","=""""",1,1,NaN,"=""""","=""L1336"""
491,Au,1,"=""925.428""","=""""","=""""","=""""","=""""","=""10802.85""","=""10""","=""""",...,"=""""","=""""","=""""","=""""","=""""",1,1,NaN,"=""""","=""L1336"""

In [ ]:
preprocess("Argon", trimmed=True)

,element,spectrum_number,wavelength_nm,intensity,log10_intensity,tags,visible
5,Ar,17,0.313700,0.0,-inf,None,False
8,Ar,17,0.319800,13.0,1.113943,None,False
9,Ar,17,0.336200,19.0,1.278754,None,False
40,Ar,18,0.373111,13.0,1.113943,None,False
42,Ar,18,0.373652,7.0,0.845098,None,False
...,...,...,...,...,...,...,...
5428,Ar,2,5057.050000,9.0,0.954243,None,False
5429,Ar,2,5107.727000,10.0,1.000000,None,False
5430,Ar,2,5130.679500,29.0,1.462398,None,False
5431,Ar,2,5282.677400,43.0,1.633468,None,False
5432,Ar,2,5332.841000,5.0,0.698970,None,False

In [18]:
from importlib import reload
import spectraldb.utils.preprocess as pp
reload(pp)
import spectraldb.utils.preprocess as pp
pp.preprocess("Zinc", trimmed=True, xyz=True)

,element,spectrum_number,wavelength_nm,intensity,log10_intensity,tags,visible,XYZ,x,y,z
118,Zn,4,41.267,30.0,1.477121,None,False,"(6.469257025991189e-48, 3.14625717307119e-28, ...",6.469257e-48,3.146257e-28,4.646936e-57
119,Zn,4,42.342,30.0,1.477121,None,False,"(9.826957285064656e-48, 4.0683523109003345e-28...",9.826957e-48,4.068352e-28,9.033818e-57
120,Zn,4,42.354,50.0,1.698970,None,False,"(9.872880093156126e-48, 4.080029553780859e-28,...",9.872880e-48,4.080030e-28,9.101016e-57
121,Zn,4,42.590,200.0,2.301030,None,False,"(1.0820714970398563e-47, 4.316559241544524e-28...",1.082071e-47,4.316559e-28,1.052857e-56
122,Zn,4,42.854,200.0,2.301030,None,False,"(1.1988684849120482e-47, 4.5972999491385905e-2...",1.198868e-47,4.597300e-28,1.239121e-56
...,...,...,...,...,...,...,...,...,...,...,...
940,Zn,1,7409.670,4500.0,3.653213,*,False,"(0.0, 0.0, 0.0, 2)",0.000000e+00,0.000000e+00,0.000000e+00
941,Zn,1,7466.870,80.0,1.903090,*,False,"(0.0, 0.0, 0.0, 2)",0.000000e+00,0.000000e+00,0.000000e+00
942,Zn,1,7466.870,80.0,1.903090,*,False,"(0.0, 0.0, 0.0, 2)",0.000000e+00,0.000000e+00,0.000000e+00
943,Zn,1,7466.870,80.0,1.903090,*,False,"(0.0, 0.0, 0.0, 2)",0.000000e+00,0.000000e+00,0.000000e+00
944,Zn,1,7466.870,80.0,1.903090,*,False,"(0.0, 0.0, 0.0, 2)",0.000000e+00,0.000000e+00,0.000000e+00