In [1]:
import pandas as pd
import sqlite3 as sql
from utils.io import load_element

In [3]:
He = load_element("Rb")
He

,element,sp_num,obs_wl_vac(nm),unc_obs_wl,ritz_wl_vac(nm),unc_ritz_wl,obs-ritz,wn(cm-1),intens,Aki(10^8 s^-1),...,J_i,conf_k,term_k,J_k,g_i,g_k,Type,tp_ref,line_ref,Unnamed: 27
0,Rb,37,"=""""","=""""","=""0.066723492""","=""0.000000008""","=""""","=""149872252""","=""""","=""2.2356e+05""",...,"=""1/2""","=""7p""","=""2P*""","=""1/2""",2,2,NaN,"=""T7771""","=""""",NaN
1,Rb,37,"=""""","=""""","=""0.067227449""","=""0.000000009""","=""""","=""148748764""","=""""","=""3.5773e+05""",...,"=""1/2""","=""6p""","=""2P*""","=""1/2""",2,2,NaN,"=""T7771""","=""""",NaN
2,Rb,37,"=""""","=""""","=""0.068060820""","=""0.000000009""","=""""","=""146927411""","=""""","=""6.3912e+05""",...,"=""1/2""","=""5p""","=""2P*""","=""3/2""",2,4,NaN,"=""T7771""","=""""",NaN
3,Rb,37,"=""""","=""""","=""0.068082087""","=""0.000000012""","=""""","=""146881510""","=""""","=""6.2569e+05""",...,"=""1/2""","=""5p""","=""2P*""","=""1/2""",2,2,NaN,"=""T7771""","=""""",NaN
4,Rb,37,"=""""","=""""","=""0.069674630""","=""0.000000014""","=""""","=""143524260""","=""""","=""1.2678e+06""",...,"=""1/2""","=""4p""","=""2P*""","=""3/2""",2,4,NaN,"=""T7771""","=""""",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2700,Rb,1,"=""2732.176""","=""0.001""","=""2732.180""","=""0.011""","=""-0.004""","=""3660.0863""","=""4""","=""""",...,"=""1/2""","=""4p6.6p""","=""2P*""","=""3/2""",2,4,NaN,"=""""","=""L4740""",NaN
2701,Rb,1,"=""2791.298""","=""0.001""","=""2791.292""","=""0.011""","=""0.006""","=""3582.5627""","=""2""","=""""",...,"=""1/2""","=""4p6.6p""","=""2P*""","=""1/2""",2,2,NaN,"=""""","=""L4740""",NaN
2702,Rb,1,"=""3993.462""","=""0.008""","=""3993.486""","=""0.023""","=""-0.024""","=""2504.093""","=""""","=""""",...,"=""5/2""","=""4p6.5g""","=""2G""","=""7/2""",6,8,NaN,"=""""","=""L873""",NaN
2703,Rb,1,"=""3993.462""","=""0.008""","=""3993.444""","=""0.023""","=""0.018""","=""2504.093""","=""""","=""""",...,"=""7/2""","=""4p6.5g""","=""2G""","=""7/2""",8,8,NaN,"=""""","=""L873""",NaN
2704,Rb,1,"=""3993.462""","=""0.008""","=""3993.444""","=""0.023""","=""0.018""","=""2504.093""","=""""","=""""",...,"=""7/2""","=""4p6.5g""","=""2G""","=""9/2""",8,10,NaN,"=""""","=""L873""",NaN