In [1]:
import pandas as pd
import sqlite3 as sql
from utils.io import load_element
from preprocess import preprocess

# TODO: Cleaning & Preprocessing

1) The raw data csv files may have up to 3 sub-tables:
    First:
        λ in: vacuum below 200 nm,
    Second:
        air between 200 and 2000 nm,
    Third:
        vacuum above 2000 nm

Clean the multi-table format for each file.

Conversion between air and vacuum wavelengths:
https://physics.nist.gov/PhysRefData/ASD/Html/lineshelp.html#AIR


2) Hydrogen
    Hydrogen does not have `element`or `ion` columns in raw data. 

3) None entries:
    `"="""""` appears to be the placeholder for null values. These values give empty cells if viewed using the HTML output.

4) Float parsing:
    Ex: `"=""0.102922365"""`. 
    Remove the string fluff where applicable.

5) Parse `intens`
- Relative intensity column has tags in the form of letters in addition to the number values.
- split this column into separate parts.

In [2]:
Zn = load_element("Zn")
print(Zn.columns)

Index(['element', 'sp_num', 'obs_wl_vac(nm)', 'unc_obs_wl', 'ritz_wl_vac(nm)',
       'unc_ritz_wl', 'obs-ritz', 'wn(cm-1)', 'intens', 'Aki(10^8 s^-1)',
       'fik', 'S(a.u.)', 'log_gf', 'Acc', 'Ei(cm-1)', 'Ek(cm-1)', 'conf_i',
       'term_i', 'J_i', 'conf_k', 'term_k', 'J_k', 'g_i', 'g_k', 'Type',
       'tp_ref', 'line_ref'],
      dtype='object')

In [4]:
Zn = preprocess("Zn")
Zn

,element,sp_num,obs_wl_vac(nm),unc_obs_wl,ritz_wl_vac(nm),unc_ritz_wl,obs-ritz,wn(cm-1),intens,Aki(10^8 s^-1),...,term_i,J_i,conf_k,term_k,J_k,g_i,g_k,Type,tp_ref,line_ref
0,Zn,30,,,0.102922365,0.000000006,,97160612,,1.5646e+05,...,2S,1/2,6p,2P*,1/2,2,2,NaN,T7771,
1,Zn,30,,,0.104210360,0.000000006,,95959749,,2.7702e+05,...,2S,1/2,5p,2P*,3/2,2,4,NaN,T7771,
2,Zn,30,,,0.104231577,0.000000008,,95940216,,2.7328e+05,...,2S,1/2,5p,2P*,1/2,2,2,NaN,T7771,
3,Zn,30,,,0.106692058,0.000000009,,93727689,,5.4953e+05,...,2S,1/2,4p,2P*,3/2,2,4,NaN,T7771,
4,Zn,30,,,0.106735544,0.000000013,,93689502,,5.4411e+05,...,2S,1/2,4p,2P*,1/2,2,2,NaN,T7771,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,Zn,1,7409.67,0.05,7409.67,0.07,0.00,1349.587,4500*,,...,3G,3,3d10.4s.6h,"(1/2,9/2)*",4,7,9,NaN,,L18676
941,Zn,1,7466.87,0.22,7466.67,0.17,0.20,1339.25,80*,,...,1G,4,3d10.4s.8h,"(1/2,11/2)*",5,9,11,NaN,,L18676
942,Zn,1,7466.87,0.22,7466.67,0.17,0.20,1339.25,80*,,...,3G,5,3d10.4s.8h,"(1/2,11/2)*",6,11,13,NaN,,L18676
943,Zn,1,7466.87,0.22,7466.67,0.17,0.20,1339.25,80*,,...,3G,4,3d10.4s.8h,"(1/2,9/2)*",5,9,11,NaN,,L18676
944,Zn,1,7466.87,0.22,7466.67,0.13,0.20,1339.25,80*,,...,3G,3,3d10.4s.8h,"(1/2,9/2)*",4,7,9,NaN,,L18676

In [ ]:
#Zn['intens'].str.extract(r"^(\d+)")
list(Zn['intens'].str.split(r"^(\d+)", expand=True)[0])
list(Zn['intens'].str.split(r"^(\d+)", expand=True)[1])
list(Zn['intens'].str.split(r"^(\d+)", expand=True)[2])

    0      1     2
0       None  None
1       None  None
2       None  None
3       None  None
4       None  None
..  ..   ...   ...
940     4500     *
941       80     *
942       80     *
943       80     *
944       80     *

[943 rows x 3 columns]

# TODO: Database
1) Create SQL Table to hold cleaned elements
2) Insert all cleaned elements into SQL table
3) Search functionalities for Table

# TODO: Visualization

Play around with and figure out how to represent the spectral lines as images

--> element(s) to colormap