In [ ]:
import pandas as pd
import sqlite3 as sql
from utils.io import load_element
from utils.preprocess import preprocess

In [ ]:
RAW_LINES_PATH

In [ ]:
Zn = load_element("Zinc")
print(Zn.columns)

In [4]:
df = preprocess("He")
sdf = preprocess("He", trimmed=True)

ValueError: could not convert string to float: ''

In [5]:
df

,element,sp_num,obs_wl_vac(nm),unc_obs_wl,ritz_wl_vac(nm),unc_ritz_wl,obs-ritz,wn(cm-1),intens,Aki(10^8 s^-1),...,term_k,J_k,g_i,g_k,Type,tp_ref,line_ref,intens_value,log_intens,intens_tags
0,He,2,,,23.4347160426,0.0000000005,,426717.353085,,3.1586e+00,...,2P*,3/2,2,4,NaN,T7771,,None,NaN,NaN
1,He,2,,,23.4347279561,0.0000000005,,426717.136155,,3.1583e+00,...,2P*,1/2,2,2,NaN,T7771,,None,NaN,NaN
2,He,2,,,23.7330663920,0.0000000005,,421353.053787,,5.5036e+00,...,2P*,3/2,2,4,NaN,T7771,,None,NaN,NaN
3,He,2,,,23.7330875061,0.0000000005,,421352.678931,,5.5033e+00,...,2P*,1/2,2,2,NaN,T7771,,None,NaN,NaN
4,He,2,,,24.3026444338,0.0000000005,,411477.854899,,1.0917e+01,...,2P*,3/2,2,4,NaN,T7771,,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437,He,1,,,1352848.09,0.05,,7.3918129,,5.0864e-10,...,3F*,3,5,7,NaN,T8020,,None,NaN,NaN
2438,He,1,,,1353353.63,0.05,,7.3890517,,7.4329e-10,...,3F*,2,3,5,NaN,T8020,,None,NaN,NaN
2439,He,1,,,1837655.81,0.10,,5.4417155,,2.2522e-10,...,1F*,3,5,7,NaN,T8020,,None,NaN,NaN
2440,He,1,,,2356231.4,0.4,,4.2440654,,1.4325e-08,...,1P*,1,5,3,NaN,T8636c73,,None,NaN,NaN
2441,He,1,,,3225773.7,0.7,,3.1000315,,8.5959e-09,...,1P*,1,5,3,NaN,T8636c73,,None,NaN,NaN

# TODO: Database
1) Create SQL Table to hold cleaned elements
2) Insert all cleaned elements into SQL table
3) Search functionalities for Table

# TODO: Visualization

Play around with and figure out how to represent the spectral lines as images

--> element(s) to colormap