In [1]:
import pandas as pd
import sqlite3 as sql
from utils.io import load_element
from utils.preprocess import preprocess

Ex:
> Zn = load_element("Zn")

> Pb = load_element("Lead")

> He = preprocess("He")

> Y_trim = preprocess("Yttrium", trimmed=True)

In [11]:
sdf = preprocess("Argon", trimmed=True)
sdf

     element  spectrum_number  wavelength_nm  intensity  log10_intensity  tags
5         Ar               17       0.313700        0.0             -inf  None
8         Ar               17       0.319800       13.0         1.113943  None
9         Ar               17       0.336200       19.0         1.278754  None
40        Ar               18       0.373111       13.0         1.113943  None
42        Ar               18       0.373652        7.0         0.845098  None
...      ...              ...            ...        ...              ...   ...
5428      Ar                2    5057.050000        9.0         0.954243  None
5429      Ar                2    5107.727000       10.0         1.000000  None
5430      Ar                2    5130.679500       29.0         1.462398  None
5431      Ar                2    5282.677400       43.0         1.633468  None
5432      Ar                2    5332.841000        5.0         0.698970  None

[4411 rows x 6 columns]

In [ ]:
wl = 455.38

     element  spectrum_number  wavelength_nm  intensity  log10_intensity  tags
117        Y                7        15.7364       10.0         1.000000  None
119        Y                7        16.1789      100.0         2.000000  None
120        Y                7        16.1967     6000.0         3.778151  None
121        Y                7        16.2798      500.0         2.698970  None
122        Y                7        16.2901      400.0         2.602060  None
...      ...              ...            ...        ...              ...   ...
1594       Y                3       864.5090     4000.0         3.602060  None
1595       Y                3       879.6210    10000.0         4.000000  None
1596       Y                1       880.0590       95.0         1.977724  None
1597       Y                2       883.5875       19.0         1.278754     h
1598       Y                3       911.6590     8000.0         3.903090  None

[1441 rows x 6 columns]

# TODO: Database
1) Create SQL Table to hold cleaned elements
2) Insert all cleaned elements into SQL table
3) Search functionalities for Table

# TODO: Visualization

Play around with and figure out how to represent the spectral lines as images

--> element(s) to colormap

https://engineering.purdue.edu/~bouman/ece637/notes/pdf/Tristimulus.pdf
    • CIE 1931 Standard 2
– R, G, B color primaries are defined by pure line spectra (delta functions in wavelength) at 700nm, 546.1nm,
and 435.8nm.

let's start with D65 whitepoint. or illuminant E

http://www.cvrl.org/database/text/intros/introcmfs.htm

O_O
https://en.wikipedia.org/wiki/Standard_illuminant#Illuminant_E
https://en.wikipedia.org/wiki/CIE_1931_color_space#Tristimulus_values
https://en.wikipedia.org/wiki/RGB_color_spaces